// Fonts
@import url('https://fonts.googleapis.com/css?family=Nunito');

// Variables
@import 'variables';

// Bootstrap
@import '~bootstrap/scss/bootstrap';

/* Purchage confirmation */ 
.modal:before { 
    content: ''; 
    display: inline-block; 
    height: 100%; 
    vertical-align: middle;
    margin-left: 35%;
} 
    
.modal-dialog { 
    display: inline-block; 
    vertical-align: middle; 
} 
    
.modal .modal-content { 
    padding: 20px 20px 20px 20px; 
    -webkit-animation-name: modal-animation; 
    -webkit-animation-duration: 0.5s; 
    animation-name: modal-animation; 
    animation-duration: 0.5s; 
} 
    
@-webkit-keyframes modal-animation { 
    from { 
        top: -100px;
        opacity: 0; 
    } 
    to { 
        top: 0px; 
        opacity: 1; 
    } 
} 
    
@keyframes modal-animation { 
    from { 
        top: -100px; 
        opacity: 0; 
    } 
    to { 
        top: 0px; 
        opacity: 1; 
    } 
} 

/* Unit outfit details */

#artwork{
    border: 1px solid grey; 
}



